body{
    background-color: rgb(49, 47, 47);
}
#canvasContainer2 {
    display: none;
    flex-direction: row;
    position: absolute;
    left:7px;
    top: 127px;
    width: 300px;
    height: 800px;
}
