@font-face {
  font-family: "GothamRounded"; /* Nombre de la familia de fuentes personalizada */
  src: url('C:\Users\Juan\Documentos\programacion\programar\Pruebas\fonts\Mukta-Medium.ttf') format('ttf'), /* Ruta hacia el archivo .woff2 de la fuente */
} 

body, html {
  font-family: "GothamRounded";
/*   background-color:#333333; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  height: 100vh; /* Ajusta la altura del body para que cubra toda la pantalla */
  margin: 0; /* Elimina los márgenes predeterminados del body */
  padding: 0; /* Elimina los rellenos predeterminados del body */
  overflow:hidden;
}

#videoBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 0.1; /* Ajusta la opacidad según tus preferencias */
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:#333333; /* Color de fondo gris con transparencia */
  z-index: -2; /* Coloca el fondo gris detrás del video */
}
h1, h2, h3 {
  font-family: "GothamRounded";
}
.boton-a{
  height: 47px;
  width: 200px;
  text-align: center;
  background-color: #ff1837;
  color: white;
  cursor: pointer;
  border-radius: 7px;
  position: absolute;
  top: 5px;
}
.maq-seccion{
  border: 6px solid gray; border-radius: 7px;
  height:77px;
  width: 102px;
}
.boton-b{
  height: 47px;
  width: 120px;
  background-color: #ff1837;
  color: white;
  border-radius: 7px;
  margin-right: 24px;
  cursor: pointer;
  text-align: center;
  transition: transform 0.1s; 
}
.boton-a:hover,
.boton-b:hover,
.boton-c:hover,
.boton-f:hover,
.boton-g:hover{
transform: scale(1.1);
}
.boton-d{
  height: 47px;
  width: 107px;
  background-color: hwb(56 6% 2%);
  color: rgb(0,0,0);
  border-radius: 7px;
  margin-right: 27px;
  margin-bottom: 17px; 
  text-align: center;    
  cursor: pointer; 
  transition: transform 0.1s;
}
.boton-d:hover {
  transform: scale(1.1);
}
.boton-g{
  height: 47px;
  width: 177px;
  margin-top: 17px;
  background-color: #ffae18f3;
  background-color: #ff1837;
  color: white;
  border-radius: 7px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.1s; 
}
/* #bot-mantaut{
  height: 47px;
  width: 247px;
  margin-top: 17px;
  background-color: #ffae18f3;
  background-color: #ff1837;
  color: white;
  border-radius: 7px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.1s; 
} */
.boton-e:hover {
  transform: scale(1.1);
}
.segundo-bloque{
  display: flex;
  position: absolute;
  margin-left: 7px;
  top: 97px;
}
.contTorrImp{
  display: flex; 
  flex-direction: column; 
  align-items:center;
  margin-left: 247px;  
}
.tintero{
  display: flex; 
  flex-direction: column; 
}
.torre-imp{
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 57px;
  left: 733px;
}
.cont-ppal{
  display: flex;
  flex-direction: row;
}
.contene-1{
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 7px;
}
.desbobinador{
  display: flex;
  flex-direction: column;
}
.uTeñido{
  display: flex;
  flex-direction: column;
}
.alimentador{
  display: flex;
  flex-direction: column;
}
.unidProceso{
  display: flex;
  flex-direction: column;
}
.rebobinador{
  display: flex;
  flex-direction: column;
}
#videosTraining{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.video-training {
  display: none;
}
.videos-training video{
  position: absolute;
  top: 100px;
  left: 395px;
}
.images-training{ 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap; 
  padding-left: 20px;
  margin-top: 19px;
} 
.image-training,
.image-training-a{
  display: none;
  cursor: pointer;
  height: 80px;
}
.bot-entre{
  display: flex;
}
.contene-7 {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100px;
  padding-left: 20px;
}
 .linea-vertical {
  position: absolute;
  left: 10px;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: white;
  content: "";
}
.linea-horizontal {
  position: absolute;
  left: -12px;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 2px;
  background-color: white;
  content: "";
}
.boton-c {
  position: relative;
  display: flex;
  align-items: center;
  height: 43px;
  width: 87px;
  background-color: #1897ff;
  color: black;
  border-radius: 5px;
  margin-right: 21px;
  margin-bottom: 17px;
  text-align: left;
  cursor: pointer;
  transition: transform 0.1s;
}
.boton-e{
  position: relative;
  display: flex;
  align-items: center;
  height: 47px;
  width: 95px;
  background-color: #1897ff; 
  color: black;
  border-radius: 5px;
  margin-right: 21px;
  margin-bottom: 10px;
  text-align: left;    
  cursor: pointer; 
  transition: transform 0.1s; 
}
.boton-f{
  position: relative;
  align-items: center;
  height: 57px;
  width: 95px;
  background-color: #1897ff;
  color: black;
  border-radius: 5px;
  margin-right: 21px;
  margin-bottom: 10px;
  text-align: left;    
  cursor: pointer; 
  transition: transform 0.1s; 
}
.boton-c > span {
  margin-left: 20px;
}
.mostrar-cont {
  display: flex;
}
.ocultar-cont {
  display: none;
} 
/*/////////////////////////////////////////////// */
#butt-repuestos {
  display: flex;
  justify-content: center; 
  align-items: center;
  font-family: "GothamRounded", sans-serif;
  color: white;
  height: 27px;
  width: 222px;
  border-radius: 9px;
  background-color: rgba(83, 82, 82, 0.678);
  position: relative;
  overflow: hidden;
  margin-top: -107px;
  margin-left: -13px;
}
#butt-repuestos::before,
#butt-repuestos::after {
  content: "";
  position: absolute;
  top: 0;
  width: 27px;
  height: 27px;
  background-color: #ff1837;
}
#butt-repuestos::before {  left: 0;
}
#butt-repuestos::after {
  right: 0;
}
#contene-images{
  display: flex;
  flex-direction: column; 
  align-items: flex-start;
  position: absolute;
  left: 1033px;
  margin-top: 137px;
  margin-right: 17px;
}
#contTextos{
  display: flex;
  flex-direction: block;
  margin-left: 57px;
}
.mantAuto{
  display: flex;
  flex-direction: row;
}
.documentos {
  display: none;
  font-family: "GothamRounded", sans-serif;
  color: white;
  margin-top: 5px;
}

#contInput{
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  position: absolute;
  left: 250px;
  top: 77px;
}
.contGraf{
  position: absolute;
  left: 477px;
  top: 77px;
}
.contGraf img{
height: 270px;
width:447px ;
}
#contChecks{
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  position: absolute;
  left: 830px;
  top: 77px;
}
.inpt-class{
  display: none;
  width: 200px;
  border-radius: 7px;
  background-color: rgb(211, 255, 204);
  margin-bottom: 11px;
}
.input-class{
  margin-bottom: 15px;
  width: 20px;
  height: 21px;
}
.contGrafito{
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 1017px;
  top: 77px;
}
.contGrafNeg {
  display: flex;
  flex-direction: row;
  }
.conti-boton{
  display: flex;
  flex-direction: column;
  margin-top: 57px;
  margin-left:20px;
}
#contImagGraf{
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 250px;
  top: 407px;
}
#contImagNeg {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 477px;
  top: 407px;
}

/*/////////////////////////////////////////////// */
.butt-mautonomo{
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  font-family: "GothamRounded", sans-serif;
  color: white;
  height: 27px;
  width: 177px;
  border-radius: 9px;
  background-color: rgba(83, 82, 82, 0.678); 
  position: relative;
  overflow: hidden;
  margin-bottom: 17px;
  cursor: pointer;
  padding-left: 27px;
}
.butt-mautonomo::before {
  content: "";
  position: absolute;
  top: 0;
  width: 17px;
  height: 27px;
  background-color: rgba(217, 255, 0, 1);
}
.butt-mautonomo::before {
  left: 0;
}
#canvasContainer2 {
  display: none;
  flex-direction: row;
  position: absolute;
  left: 457px;
  top: 72px;
  width: 350px;
}
#canvasContainer3{
  display: none;
  flex-direction: row;
  position: absolute;
  left: 947px;
  top: 7px;
  width: 200px;
  height: 800px;
}
#pantalla-atras,
#pantalla-servicio,
#pantalla-mandos,
#pantalla-frente,
#pantalla-tintero,
#contPortPlaca,
#contLinksTorre {
  display: flex; /* Usar flexbox para centrar la imagen */
  flex-direction: row;
  justify-content: center; /* Centrar horizontalmente */
  position: absolute;
  top: 90px;
}
#cont-links{
  position: absolute;
  top: -13px;
  left: 27px;
}
.custom-link {
  position: relative; /* Asegura que la posición no sea static */
  z-index: 9999;
  text-decoration: none;
  font-family: "GothamRounded", sans-serif; /* Aplica la fuente deseada */
}
#vidTintero,
#imgTorre-s,
#imgTorre-m{
  position: absolute;
  left: 307px;
  top: 1px;
  height: 477px;
  width: 707px;  
}
#imgTorre-a,
#imgTorre-f,
#imgTorre{
  position: absolute;
  left: 341px;
  top: 1px;
  height: 477px;
  /* width: 707px; */ 
  width: 637px;
}
#linkDistribuidor{
  position: absolute;
  left: 597px;
  top: 73px;
  width: 177px;
  color: white;
}
#linkForma{
  position: absolute;
  left: 597px;
  top: 120px;
  width: 177px;
  color: white;
}
#linkPlate{
  position: absolute;
  left: 597px;
  top:167px;
  width: 177px;
}
#linkManta{
  position: absolute;
  left: 597px;
  top: 250px;
  width: 177px;
}
#linkImpresor{
  position: absolute;
  left: 597px;
  width: 177px;  
  top: 336px;
}
.Bot-inicio2,
.Bot-inicio{
  background-color: #302928;
  color: white;
  border-radius: 7px;
  width: 77px;
  height: 47px;
  font-size: 14px;
  text-align: center;
  clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 0% 100%);
  transform: skewX(-30deg);
  cursor: pointer;
  z-index: 1;
}
.Bot-inicio2-fondo,
.Bot-inicio-fondo{
  background-color: rgb(0,0,255);
  border-radius: 7px;
  width: 81px;
  height: 51px;
  font-size: 14px;
  clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 0% 100%); 
  transform: skewX(-30deg);
  cursor: pointer;
  z-index: 0;
}
#agrupaOblicuos-I,
#agrupaOblicuos-II,
#agrupaOblicuos-III,
#agrupaOblicuos-IV,
#agrupaOblicuos-V,
#agrupaOblicuos-VI,
#agrupaOblicuos-VII,
#agrupaOblicuos-X{
  display: flex;
  flex-direction: column;
  margin-top: -555px;
}
#butt-1{
  position: absolute;
  margin-left: 1107px;
  margin-top: 77px;
} 
#butt-2{
  position: absolute;
  margin-left: 1107px;
  margin-top: 77px;
}
#butt-3{
  position: absolute;
  margin-left: 1107px;
  margin-top: 137px;
} 
#butt-4{
  position: absolute;
  margin-left: 1107px;
  margin-top: 137px;
}
#butt-5{
  position: absolute;
  margin-left: 1107px;
  margin-top: 197px;
} 
#butt-6{
  position: absolute;
  margin-left: 1107px;
  margin-top: 197px;
}
#butt-7{
  position: absolute;
  margin-left: 1107px;
  margin-top: 257px;
} 
#butt-8{
  position: absolute;
  margin-left: 1107px;
  margin-top: 257px;  
}
.imagesTorre{
  display: none;
  height: 377px;
  width: 503px;
  border-radius: 10px;   
}
#contPortManta,
#contImpresor,
#contPortPlaca {
  display: flex;
  flex-direction: row;
  position: absolute;
  margin-left: 10px;
  top: 77px;
  gap: 10px; /* Espacio entre las imágenes */
}
#contPortManta img,
#contImpresor img,
#contPortPlaca img{
width: 530px;
height: 398px;
}
#contPortManta video,
#contImpresor video,
#contPortPlaca video{
  position: absolute;
  left: 333px;
  height: 477px;
}
#contPortaManta{  
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  left: 237px;
}
#contPortaManta video{  
  height: 477px;
}
#contImgEntintador,
#contImgDistribuidor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: 187px;
  top: 93px;
}
.imgRow {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.imgRow img{
  height: 150px;
  width: 200px;
  margin: 0 10px;
  border-radius: 7px;
}
#imgsRepuestos-V,
#imgsRepuestos-IV,
#imgsRepuestos-III,
#imgsRepuestos-II,
#imgsRepuestos{
  display: flex;
  flex-direction: column;
  margin-left: 77px;
  cursor: pointer;
}
#imgsRepuestos-V img,
#imgsRepuestos-IV img,
#imgsRepuestos-III img,
#imgsRepuestos-II img,
#imgsRepuestos img{
 height: 107px;
 width: 143px;
 margin-bottom: 15px; 
 cursor: pointer;
}
.image-trainings {
  transition: transform 0.1s ease, filter 0.1s ease;
}
#imagenes-manta,
#imagenes-plancha {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 7px;
}
.imgMant,
.imagen-container {
  margin-right: 7px; /* Margen entre las imágenes */
  margin-bottom: 10px; /* Espacio vertical entre las filas de imágenes */
}




#textToColor {
  color: white;
  transition: color 0.2s;
  cursor: pointer;
}

/* Estilos para el contenedor del título */
#titleContainer {
  position: absolute;
  left: 807px;
  display: flex;
  align-items: center;


}

/* Estilo para el punto después del título */
#titleContainer::after {
  content: " ";
  color: transparent;
}

/* Estilo para la línea debajo del título */
#line {
  position: absolute;
  left: 807px;
  top: 42px;
  width: 0;
  height: 7px;
  background-color: blue;
  transition: 0.1s;
}

/* Estilos para la lista de enlaces */
#linkList {
  display: none;
  list-style: none;
  width: 511px;
  padding: 0;
  position: absolute;
  left: 807px;
  top: 47px;
  background-color: blue;
  z-index: 7;
}

#linkList li {
  margin: 5px 0;
}

/* Estilo para los enlaces cuando se muestran */
#linkList a {
  color: white;
}

/* Estilo para la línea debajo de los enlaces cuando el puntero está sobre ellos */
#linkList li:hover {
  background-color:yellow;          
}
#linkList li:hover a {
  color: black;
}